*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Digital-7_Italic';
    src: url('./fuentes/digital-7\ \(italic\).ttf');
}
body{
    font-family: 'Digital-7_Italic';
    background: #000;
}
.header{
    width: 100%;
    background-color: rgb(183 6 6);
    color: #fff;
    text-align: center;
    padding: 25px 0px;
    font-size: 50px;
}
.message{
    font-size: 25px;
    color: rgb(183 6 6);
    text-align: center;
    padding: 25px 0px;
    background-color: #fff;
}
.container-tiempoRestante{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 25px 0px;
    font-size: 180px;
    justify-content: center;
}
.container-tiempoRestante div{
    display: flex;
    flex-direction: column;
    width: 260px;
}
.container-tiempoRestante div span{
    font-size: 25px;
    color: rgb(183 6 6);
    text-align: center;
    padding: 25px 0px;
}
.container-tiempoRestante div input{
    font-family: 'Digital-7_Italic';
    background: transparent;
    color: #fff;
    width: 250px;
    font-size: 180px;
    border: none;
    text-align: center;
}
.container-tiempoRestante div input:focus{
    outline: none;
    caret-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.buttons-section{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
    margin: 0 auto;
}
#btnPausar{
    width: 100px;
    height: 30px;
    background-color: rgb(183 6 6);
    color: white;
    border: none;
    border-radius: 15px;
}
#btnIniciar, #btnContinuar{
    width: 100px;
    height: 30px;
    background-color: rgb(38 162 15);
    color: white;
    border: none;
    border-radius: 15px;
}
#btnRestablecer{
    width: 100px;
    height: 30px;
    background-color: rgb(110 110 10);
    color: white;
    border: none;
    border-radius: 15px;
}
#btnVolverAUsar{
    width: 100px;
    height: 30px;
    background-color: rgb(15, 54, 199);
    color: white;
    border: none;
    border-radius: 15px;
}

@media screen and (max-width: 768px){
    .header{
        width: 100%;
        font-size: 15px;
    }
    .message{
        font-size: 14px;
        padding: 30px 0px;
        line-height: 25px;
    }
    .container-tiempoRestante{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        justify-content: center;
        margin: 4rem auto;
        font-size: 100px;
        min-height: 250px;
    }
    .container-tiempoRestante div{
        display: flex;
        flex-direction: column;
        width: 6rem;
        min-height: 200px;
    }
    .container-tiempoRestante div span{
        font-size: 25px;
        color: rgb(183 6 6);
        text-align: center;
        padding: 25px 0px;
    }
    .container-tiempoRestante div input{
        font-family: 'Digital-7_Italic';
        background: transparent;
        color: #fff;
        width: 100px;
        font-size: 80px;
        border: none;
        text-align: center;
        min-height: 250px;
        padding-bottom: 165px;    
        border: 10px solid red;
    }
    .container-tiempoRestante div input:focus{
        outline: none;
        caret-color: transparent;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
}